* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #fcfcc1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  display: block;
}

a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.border-top {
  width: 100%;
  height: 1px;
  background: #fcfcc1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 1.5s ease-in;
  transition: -webkit-transform 1.5s ease-in;
  transition: transform 1.5s ease-in;
  transition: transform 1.5s ease-in, -webkit-transform 1.5s ease-in;
}

.s-title {
  font-size: 90px;
  text-align: right;
  position: absolute;
  right: 5%;
  width: 53vw;
}

.s-title .s-title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-title .s-title-text p {
  font-size: 25px;
  padding-top: 5%;
}

.s-title .s-title-text h4 {
  opacity: 0;
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.s-text {
  width: 40%;
  margin-top: 20vh;
  margin-left: 7%;
  opacity: 0;
}

.s-text p {
  margin-top: 5%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.bg {
  background: #9e5688;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
}

body {
  background-color: #729e8e;
  color: #fcfcc1;
  font-family: 'Jost', sans-serif;
  position: relative;
  height: 100%;
}

.s-landing {
  height: 100vh;
  width: 100%;
  padding: 2% 5%;
  position: relative;
}

.s-landing .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-landing .nav .nav-left {
  font-size: 20px;
}

.s-landing .nav .nav-right {
  font-size: 25px;
  text-align: right;
}

.s-landing .nav .nav-right:hover {
  cursor: pointer;
}

.s-landing .nav .nav-right li:nth-child(1) {
  position: relative;
}

.s-landing .nav .nav-right li:nth-child(1)::after {
  content: "01";
  font-size: 10px;
  position: absolute;
  top: -5%;
  right: -15%;
}

.s-landing .nav .nav-right li:nth-child(2) {
  position: relative;
}

.s-landing .nav .nav-right li:nth-child(2)::after {
  content: "02";
  font-size: 10px;
  position: absolute;
  top: -5%;
  right: -15%;
}

.s-landing .nav .nav-right li:nth-child(3) {
  position: relative;
}

.s-landing .nav .nav-right li:nth-child(3)::after {
  content: "03";
  font-size: 10px;
  position: absolute;
  top: -5%;
  right: -15%;
}

.s-landing .hero {
  margin: 8vh 15vw;
}

.s-landing .hero .hero-title {
  overflow: hidden;
}

.s-landing .hero .hero-title h2 {
  font-size: 5rem;
  -webkit-transform: translateX(-0.5%);
          transform: translateX(-0.5%);
}

.s-landing .hero .hero-title h5 {
  font-size: 2rem;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.s-landing .hero .hero-cta {
  font-size: 20px;
  border: 0.5px solid #fcfcc1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.s-landing .hero .hero-cta a:hover::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.s-about, .s-projects, .s-contact {
  padding: 2% 5%;
}

.s-about {
  height: 170vh;
  width: 100%;
  position: relative;
}

.s-about .c-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 7%;
}

.s-about .c-content .s-text {
  margin-top: 24%;
  width: 60%;
}

.s-about .c-content .s-text h1 {
  font-size: 35px;
}

.s-about .c-content .s-text p {
  font-size: 15px;
}

.s-about .c-content .s-text h2 {
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
}

.s-about .c-content .s-text .experience {
  margin-top: 10%;
}

.s-about .c-content .s-text .experience ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.s-about .c-content .profile-image-wrapper {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  margin-top: 25%;
}

.s-about .c-content .profile-image-wrapper img {
  width: 100%;
}

.s-projects {
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 10vh;
}

.s-projects .c-project-titles {
  font-size: 50px;
  margin-bottom: 5%;
}

.s-projects .c-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20vh;
  margin-top: 20vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.s-projects .c-project .s-text {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.s-projects .c-project .s-text a::after {
  display: none;
}

.s-projects .c-project .s-text .fa-github {
  font-size: 30px;
  margin-top: 10px;
  opacity: 0.6;
}

.s-projects .c-project .s-text .fa-github:hover {
  opacity: 1;
}

.s-projects .c-project .s-text .time {
  font-size: 70px;
  font-weight: 600;
}

.s-projects .c-project .s-image {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.s-projects .c-project .s-image img {
  width: 100%;
}

.s-projects .other-projects {
  margin-left: 7%;
}

.s-projects .other-projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-projects .other-projects ul li {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: rgba(252, 252, 193, 0.8);
  color: #9e5688;
  padding: 2%;
}

.s-projects .other-projects ul li:hover {
  background-color: #fcfcc1;
}

.s-projects .other-projects ul li .fa-github {
  font-size: 30px;
  opacity: 0.6;
}

.s-projects .other-projects ul li .fa-github:hover {
  opacity: 1;
}

.s-projects .other-projects ul li .time {
  font-weight: bold;
}

.s-projects .other-projects ul a:hover::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.s-contact {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10vh;
}

.s-contact .c-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.s-contact .c-contact .s-text {
  margin: 20% 0 2% 0;
  text-align: center;
}

.s-contact .c-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  background-color: transparent;
  -webkit-appearance: none;
  margin-bottom: 10%;
}

.s-contact .c-contact form .input-label {
  color: inherit;
  font-size: 16px;
  font-weight: normal;
  pointer-events: none;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.s-contact .c-contact form input {
  border: none;
  border-bottom: 1px solid #fcfcc1;
  font-family: inherit;
  min-height: 5vh;
  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: inherit;
  margin: 15px 0;
}

.s-contact .c-contact form textarea {
  border: none;
  border-bottom: 1px solid #fcfcc1;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  margin: 15px 0;
  height: 10vh;
  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.s-contact .c-contact form ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: wheat;
  opacity: 1;
  /* Firefox */
}

.s-contact .c-contact form :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: wheat;
  opacity: 1;
  /* Firefox */
}

.s-contact .c-contact form ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: wheat;
  opacity: 1;
  /* Firefox */
}

.s-contact .c-contact form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: wheat;
  opacity: 1;
  /* Firefox */
}

.s-contact .c-contact form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: wheat;
}

.s-contact .c-contact form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: wheat;
}

.s-contact .c-contact form input[type="submit"] {
  background-color: #fcfcc1;
  color: #9e5688;
  height: 7vh;
  cursor: pointer;
  font-size: 17px;
  border-radius: 2%;
}

.fixed-contact-bar li {
  margin-bottom: 60%;
  font-size: 18px;
}

.fixed-contact-bar li a::after {
  display: none;
}

.fixed-contact-bar li a:hover {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer {
  text-align: center;
  padding: 10px 0;
  border-top: 0.5px solid wheat;
  margin-top: 20vh;
}

@media (max-width: 1100px) {
  .s-landing .hero {
    margin: 15vh 10vw;
  }
  .s-about {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 30%;
  }
  .s-projects .c-project {
    margin: 2vh 0;
  }
  .s-contact {
    height: 80vh;
  }
  .s-contact .c-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-contact .c-contact .s-text {
    margin: 30% 0 5% 0;
    width: 85%;
    font-size: 20px;
  }
  .s-contact .c-contact form {
    width: 80%;
  }
  .s-contact .c-contact form input[type="submit"] {
    height: 4vh;
    font-size: 22px;
    border-radius: 2%;
  }
}

@media (max-width: 400px) {
  .s-landing {
    padding: 5%;
  }
  .s-landing .nav .nav-left {
    font-size: 17px;
  }
  .s-landing .nav .nav-right {
    font-size: 20px;
    text-align: right;
  }
  .s-landing .hero {
    margin: 13vh 7vw 8vh 13vw;
  }
  .s-landing .hero .hero-title h2 {
    font-size: 2.5rem;
    margin-bottom: 10%;
  }
  .s-landing .hero .hero-title h5 {
    font-size: 22px;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .s-landing .hero .hero-cta {
    font-size: 17px;
  }
  .s-title {
    font-size: 50px;
    width: 80%;
  }
  .s-about {
    margin-bottom: 50%;
  }
  .s-about .c-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-about .c-content .s-text {
    width: 90%;
  }
  .s-about .c-content .s-text h1 {
    font-size: 30px;
  }
  .s-about .c-content .profile-image-wrapper {
    width: 90%;
    margin-top: 30%;
    margin-left: 5%;
  }
  .s-projects .c-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .s-projects .c-project .s-text {
    width: 90%;
    padding-left: 5%;
  }
  .s-projects .c-project .s-text .time {
    font-size: 60px;
    margin-top: 5%;
  }
  .s-projects .c-project .s-image {
    width: 85%;
    margin-top: 5vh;
    margin-left: 12%;
  }
  .s-contact .c-contact .s-text {
    margin: 30% 0 5% 0;
  }
  .s-contact .c-contact .s-text h1 {
    font-size: 20px;
  }
  .s-contact .c-contact .s-text p {
    font-size: 15px;
  }
  .s-contact .c-contact form {
    width: 80%;
    margin-left: 10%;
  }
  .s-contact .c-contact form .input-label {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */