@mixin mobile {
    @media (max-width: 400px) {
        @content;
    }
} 
@mixin tablet {
    @media (max-width: 1100px) {
        @content;
    }
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$thirdColor: 	rgb(114, 158, 142);
$secondaryColor: rgb(252, 252, 193);
$primaryColor: rgb(158, 86, 136);

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    width: fit-content
}
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: $secondaryColor;
    transform: scaleX(0);  
    transition: all 250ms ease-in-out;
    transform-origin: left;
    display: block;
}
a:hover::after {
    transform: scale(1);
}

.border-top {
    width: 100%;
    height: 1px;
    background: $secondaryColor;
    transform: scale(0);
    transform-origin: left;
    transition: transform 1.5s ease-in;
}

.s-title {
    font-size: 90px;
    text-align: right;
    position: absolute;
    right: 5%;
    width: 53vw;
    
    .s-title-text {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        p {
            font-size: 25px;
            padding-top: 5%;
        } 
        h4 {
            opacity: 0;
        }
    }
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.s-text {
    width: 40%;
    margin-top: 20vh;
    margin-left: 7%;
    opacity: 0;
    p {
        margin-top: 5%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg {
    background: $primaryColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
}
body {
    background-color: $thirdColor;
    color: $secondaryColor;
    font-family:'Jost', sans-serif;
    position: relative;
    height: 100%;
}

.s-landing {
    height: 100vh;
    width: 100%;
    padding: 2% 5%;
    position: relative;

    .nav {
        display: flex;
        justify-content: space-between;
        .nav-left {
            font-size: 20px;
        }
        .nav-right{
            font-size: 25px;
            text-align: right;
            &:hover {
                cursor: pointer;
            }
            li:nth-child(1) {
                position: relative;
                &::after {
                    content: "01";
                    font-size: 10px;
                    position: absolute;
                    top: -5%;
                    right: -15%;
                }
            }
            li:nth-child(2) {
                position: relative;
                &::after {
                    content: "02";
                    font-size: 10px;
                    position: absolute;
                    top: -5%;
                    right: -15%;
                }
            }
            li:nth-child(3) {
                position: relative;
                &::after {
                    content: "03";
                    font-size: 10px;
                    position: absolute;
                    top: -5%;
                    right: -15%;
                }
            }
        }
    }
    .hero {
        margin: 8vh 15vw;
        .hero-title {
            overflow: hidden;
            h2 {
                font-size: 5rem;
                transform: translateX(-0.5%);
            }
            h5 {
                font-size: 2rem;
                transform: translateY(-20%);
            }
        }
        .hero-cta {
            font-size: 20px;
            border: 0.5px solid $secondaryColor;
            width: fit-content;
            padding: 10px;
            a:hover::after {
                transform: scale(0);
            }
        }
    }
}

.s-about, .s-projects, .s-contact {
    padding: 2% 5%;
}
.s-about {
    height: 170vh;
    width: 100%;
    position: relative;

    .c-content {
        display: flex;
        justify-content: space-between;
        margin-left: 7%;
        .s-text {
            margin-top: 24%;
            width: 60%;
            h1 {
                font-size: 35px;
            }
            p{
                font-size:15px;
            }
            h2 {
                font-size: 19px;
                font-weight: 700;
                font-style: italic;
            }
            .experience {
                margin-top: 10%;
                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
        .profile-image-wrapper {
            width: 30%;
            height: fit-content;
            overflow: hidden;
            margin-top: 25%;
            img {
                width: 100%;
            }
        }
    }
    
}
.s-projects {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 10vh;
    
    .c-project-titles {
        font-size: 50px;
        margin-bottom: 5%;
    }
    .c-project {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20vh;
        margin-top: 20vh;
        height: fit-content;

        .s-text {
            width: 30%;
            height: fit-content;
            a::after {
                display: none;
            }
            .fa-github {
                font-size: 30px; 
                margin-top: 10px; 
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
            .time {
                font-size: 70px;
                font-weight: 600;
            }
        }
        .s-image {
            width: 60%;
            height: fit-content;
            margin-top: 20vh;
            object-fit: cover;
            img {
                width: 100%;
            }
        }
    }
    .other-projects {
        margin-left: 7%;
        ul {
            display: flex;
            flex-wrap: wrap;
            
            li {
                width: 300px;
                height: 300px;
                display: flex;
                justify-content: space-between;
                margin-right: 50px;
                margin-bottom: 50px;
                background-color: rgba($color: $secondaryColor, $alpha: 0.8);
                color: $primaryColor;
                padding: 2%;
                &:hover {
                    background-color: rgba($color: $secondaryColor, $alpha: 1);
                }
                .fa-github {
                    font-size: 30px;
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                    }
                }
                .time {
                    font-weight: bold;
                }
            }
            a:hover::after {
                transform: scale(0);
            }
        }

    }
}

.s-contact {
    height: fit-content;
    margin-bottom: 10vh;
    .c-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        .s-text{
            margin: 20% 0 2% 0;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 40%;
            background-color: transparent;
            -webkit-appearance: none;
            margin-bottom: 10%;
            .input-label {
                color: inherit;
                font-size: 16px;
                font-weight: normal;
                pointer-events: none;
                transition: 300ms ease all;
            }
            input {
                border: none;
                border-bottom: 1px solid $secondaryColor;
                font-family: inherit;
                min-height: 5vh;
                width: 100%;
                outline: none;
                box-shadow: none;
                background-color: transparent;
                color: inherit;
                margin: 15px 0;
            }
            textarea {
                border: none;
                border-bottom: 1px solid $secondaryColor;
                font-family: inherit;
                background-color: transparent;
                color: inherit;
                margin: 15px 0;
                height: 10vh;
                width: 100%;
                outline: none;
                box-shadow:none;
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: wheat;
                opacity: 1; /* Firefox */
              }
              
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: wheat;
              }
              
              ::-ms-input-placeholder { /* Microsoft Edge */
                color: wheat;
              }
        
            input[type="submit"] {
                background-color: rgb(252, 252, 193);
                color: rgb(158, 86, 136);
                height: 7vh;
                cursor: pointer;
                font-size: 17px;
                border-radius: 2%;
            }
        }
    }
}

.fixed-contact-bar {
    li {
        margin-bottom: 60%;
        font-size: 18px;
        a::after {
            display: none;
        }
        a:hover {
            transform: translateY(5%);
            transition: all 0.3s ease-in-out;
        }
    }
}

.footer {
    text-align: center; 
    padding: 10px 0; 
    border-top: 0.5px solid wheat;
    margin-top: 20vh;
}

@include tablet() {
    .s-landing {
        .hero {
            margin: 15vh 10vw;
        }
    }
    .s-about{
        height: fit-content;
        margin-bottom: 30%;
    }
    .s-projects {
        .c-project {
            margin: 2vh 0;
        }
    }
    .s-contact {
        height: 80vh;
        .c-contact {
            flex-direction: column;
            .s-text{
                margin: 30% 0 5% 0;
                width: 85%;
                font-size: 20px;
            }
            form {
                width: 80%;
                input[type="submit"] {
                    height: 4vh;
                    font-size: 22px;
                    border-radius: 2%;
                }
            }
        }
    }
}
@include mobile() {
    .s-landing {
        padding: 5%;
        .nav {
            .nav-left {
                font-size: 17px;
            }
            .nav-right{
                font-size: 20px;
                text-align: right;
            }
        }
        .hero {
            margin: 13vh 7vw 8vh 13vw;
            .hero-title {
                h2 {
                    font-size: 2.5rem;
                    margin-bottom: 10%;
                }
                h5 {
                    font-size: 22px;
                    transform: translateY(-20%);
                }
            }
            .hero-cta {
                font-size: 17px;
            }
        }
    }
    .s-title {
        font-size: 50px;
        width: 80%;
    }
    .s-about {
        margin-bottom: 50%;
        .c-content{
            flex-direction: column;
            .s-text{
                width: 90%;
                h1{
                    font-size: 30px;
                }
            }
            .profile-image-wrapper{
                width: 90%;
                margin-top: 30%;
                margin-left: 5%;
            }
        }
    }
    .s-projects{
        .c-project {
            flex-direction: column;
            margin-top: 5vh;
            margin-bottom: 5vh;
            .s-text {
                width: 90%;
                padding-left: 5%;
                .time {
                    font-size: 60px;
                    margin-top: 5%;
                }
            }
            .s-image {
                width: 85%;
                margin-top: 5vh;
                margin-left: 12%;
            }
        }
        .other-projects {
            padding-left: 5%;
        }
    }
    .s-contact {
        .c-contact {
            .s-text{
                margin: 30% 0 5% 0;
                h1{
                    font-size: 20px;
                }
                p {
                    font-size: 15px;
                }
            }
            form {
                width: 80%;
                margin-left: 10%;
                .input-label {
                    font-size: 13px;
                }
            }
        }
    }
}
